$dark: #444
$darker: #222
$light: #eee
$pastelPink: #ffebeb
$pastelBlue: #dcf4f2
$lightBlue: #77d4cd
$teal: #d1fdec
$pastelGreen: #dbfcdd
$green: #177512
$brightGreen: #0eff00
$greenUp: #15ae0c
$links: #7aebf0
$blue: #1a84c2
$pink: #c92c53

// $banner: #96d1c6
$banner1: #dcf4ff
$banner: #a5e0fc
$bannerDarkly: #035379


$button: #eaeaeacc

$homeButton: #444
$homeButtonHover: #eee

$blueButton: #7aebf0 
$blueButtonHover: #7bc4bb 

$greenButton: #dfffef
$greenButtonHover: #9cffcd