html
   overflow-x: hidden

body
   overflow-x: hidden !important
   background-image: url('../images/watercolor/watercolor3-faded.jpg')
   background-position: center
   background-repeat: no-repeat
   background-size: cover
   
main
   padding: 20px 0 50px
   position: relative

main.page-main
   padding-top: 90px

h1,h2,h3,h4,h5,h6,p,li,span 
   color: $dark

h1
   font-family: 'Snell', cursive
   font-weight: 400
   font-size: 100px

h2
   font-family: 'Goldoni'
h3,
h4
   font-family: 'Cormorant', sans-serif

h5,
h6
   font-family: 'Montserrat', sans-serif

h2
   font-size: 40px
   font-weight: 300
   @media (max-width: 550px)
      font-size: 35px
   @media (max-width: 400px)
      font-size: 28px

h3
   font-size: 30px
   letter-spacing: 1px

h5
   font-size: 22px
   font-weight: 300
   @media (max-width: 1200px)
      font-size: 20px
   @media (max-width: 350px)
      font-size: 19px

p,
li,
td,
th,
address
   font-family: 'SourceSansPro', sans-serif
   font-size: 17px
   @media (max-width: 1300px)
      font-size: 16px

a
   color: #2100a3
   font-family: 'Montserrat', sans-serif
   // font-weight: bold
   text-decoration: none
   &:hover
      color: darken($links, 15%)

ul
   margin: 0
   padding: 0

.container
   margin: 0 auto
   max-width: 80%
   @media (max-width: 1500px)
      max-width: 85%
   @media (max-width: 1350px)
      max-width: 90%


.page
   .page-title
      font-size: 80px
      // padding-top: 30px
      text-align: center
      @media (max-width: 768px)
         font-size: 65px
      @media (max-width: 500px)
         font-size: 50px

   main
      padding: 100px 0

   .blue
      color: $blue
   .green
      color: $green
   .pink
      color: $pink

mark
   background-color: none !important

table
   background-color: rgba(255,255,255,.6) !important

address
   text-align: center !important

// menu icon alignment fix
.menu-item a img, img.menu-image-title-after
   vertical-align: bottom !important