
.single-product   
   .product
      max-width: 1200px
      margin: 70px auto 0

      & > .product_title
         font-family: 'Goldoni'
         font-size: 65px
         text-align: center
         @media (min-width: 768px)
            display: none
      & > .flex-control-nav
         display: none

      .woocommerce-product-gallery
         box-shadow: 0 0 32px white
         margin-top: 50px
         margin-left: auto
         margin-right: auto
         width: 80% !important
         z-index: 5
         @media (min-width: 768px)
            width: 33% !important

      .summary
         background-color: rgba(255,255,255,.6)
         box-shadow: 0 0 32px white
         padding: 16px
         position: relative
         width: 60% !important
         @media (max-width: 768px)
            margin: 0 auto !important
            width: 500px !important
            z-index: 0
         @media (max-width: 550px)
            width: 95% !important
         @media (max-width: 400px)
            width: 98% !important

         .product_title
            font-family: 'Goldoni'
            @media (max-width: 768px)
               display: none
         ol.flex-control-thumbs
            list-style-type: none
            margin-top: 0 !important
            padding: 0
            @media (max-width: 768px)
               text-align: center

            li
               cursor: pointer
               display: inline-block
               margin-right: 24px !important
               transition: all .2s
               &:hover
                  box-shadow: 0 0 8px #888
                  transform: scale(1.2)
            
         .price
            font-size: 1.5em
            @media (max-width: 768px)
               text-align: center

         .woocommerce-product-details__short-description
            font-size: 17px
            line-height: 1.7

         .variations_form 
            background-color: transparent      

         table.variations
            background-color: transparent

            th.label
               padding: 5px
               text-align: left
            td.value
               border-radius: 5px
               select
                  border: 1px solid $green
                  border-radius: 5px
                  cursor: pointer
                  margin-bottom: 16px
                  min-width: 225px !important
                  padding: 8px
                  transition: all .2s
                  &:hover
                     background-color: rgba(0,0,0,.05)
                     box-shadow: 0 0 5px #aaa
               select[name='attribute_pa_size']
                  min-width: 225px !important

               .reset_variations
                  color: #8d1414
                  font-size: 1em
                  font-weight: bold
                  letter-spacing: 1px

         .quantity
            margin: 4px 16px 0 0 !important
            @media (max-width: 500px)
               margin-left: 24px !important
            input
               border: 1px solid $green
               border-radius: 5px 
               padding: 4px 8px
               text-align: left


         .single_add_to_cart_button
            background-color: transparent !important
            color: $dark !important
            &:hover
               background-color: $dark !important
               color: white !important


      .related
         background-color: white
         box-shadow: 0 0 20px white
         clear: both
         max-width: 80%
         margin: 0 auto
         padding: 16px

         h2
            text-align: center

         ul.products
            margin-top: 16px

            h2.woocommerce-loop-product__title
               font-size: 1.5em !important
               text-align: center

            .price
               font-size: 1em !important
               text-align: center

            li.product
               padding: 8px 8px 16px
               text-align: center
               &:hover
                  box-shadow: 2px 2px 15px

                  .add_to_cart_button
                     background-color: transparent !important
                     color: $dark !important


.woocommerce-tabs
   display: none