@font-face {
  font-family: 'Snell';
  src: url(../fonts/SnellRoundhand.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'Cormorant';
  src: url(../fonts/Cormorant.ttf);
}

@font-face {
  font-family: 'Carattere';
  src: url(../fonts/Carattere.ttf);
}

@font-face {
  font-family: 'SourceSansPro';
  src: url(../fonts/SourceSansPro.ttf);
}

body {
  overflow-x: hidden;
  background-image: url("../images/watercolor/watercolor3-faded.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding: 20px 0 50px;
  position: relative;
}

h1, h2, h3, h4, h5, h6, p, li, span {
  color: #444;
}

h1 {
  font-family: 'Snell', cursive;
  font-weight: 400;
  font-size: 100px;
}

h2,
h3,
h4 {
  font-family: 'Cormorant', sans-serif;
}

h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

@media (max-width: 550px) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  font-size: 30px;
  letter-spacing: 1px;
}

h5 {
  font-size: 22px;
  font-weight: 300;
}

@media (max-width: 1200px) {
  h5 {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  h5 {
    font-size: 19px;
  }
}

p,
td,
th,
address {
  font-family: 'SourceSansPro', sans-serif;
  font-size: 17px;
}

@media (max-width: 1300px) {
  p,
  td,
  th,
  address {
    font-size: 16px;
  }
}

a {
  color: #1e9b17;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  color: #11580d;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 80%;
}

@media (max-width: 1500px) {
  .container {
    max-width: 85%;
  }
}

@media (max-width: 1350px) {
  .container {
    max-width: 90%;
  }
}

.page .page-title {
  font-size: 80px;
  padding-top: 30px;
  text-align: center;
}

.page main {
  padding: 50px 0;
}

.page main.home-content {
  padding: 20px 0 50px;
}

.page .blue {
  color: #1a84c2;
}

.page .green {
  color: #177512;
}

.page .pink {
  color: #c92c53;
}

mark {
  background-color: none !important;
}

table {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

address {
  text-align: center !important;
}

.button, .sbi_load_btn, .woocommerce.post-type-archive-product main ul.products li.product .button, .wpforms-container form.wpforms-form .wpforms-submit {
  background: rgba(255, 255, 255, 0.3) !important;
  border: 2px solid #3d493e !important;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
          clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  color: #222 !important;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 3px;
  padding: 15px 25px;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.button:hover, .sbi_load_btn:hover, .woocommerce.post-type-archive-product main ul.products li.product .button:hover, .wpforms-container form.wpforms-form .wpforms-submit:hover {
  background-color: #3d493e !important;
  -webkit-clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
          clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
  color: #eee !important;
}

@media (max-width: 1075px) {
  .button, .sbi_load_btn, .woocommerce.post-type-archive-product main ul.products li.product .button, .wpforms-container form.wpforms-form .wpforms-submit {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 460px) {
  .button, .sbi_load_btn, .woocommerce.post-type-archive-product main ul.products li.product .button, .wpforms-container form.wpforms-form .wpforms-submit {
    font-size: 16px;
  }
}

.sbi_load_btn .sbi_btn_text {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
}

.woocommerce-button,
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce a.sbi_load_btn, .woocommerce.post-type-archive-product main ul.products li.product a.button, .woocommerce .wpforms-container form.wpforms-form a.wpforms-submit, .wpforms-container form.wpforms-form .woocommerce a.wpforms-submit, .woocommerce button.button, .woocommerce button.sbi_load_btn, .woocommerce.post-type-archive-product main ul.products li.product button.button, .woocommerce .wpforms-container form.wpforms-form button.wpforms-submit, .wpforms-container form.wpforms-form .woocommerce button.wpforms-submit, .woocommerce input.button, .woocommerce input.sbi_load_btn, .woocommerce.post-type-archive-product main ul.products li.product input.button, .woocommerce .wpforms-container form.wpforms-form input.wpforms-submit, .wpforms-container form.wpforms-form .woocommerce input.wpforms-submit {
  background-color: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid #3d493e !important;
  font-weight: bold;
}

.woocommerce-button:hover,
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce a.sbi_load_btn:hover, .woocommerce.post-type-archive-product main ul.products li.product a.button:hover, .woocommerce .wpforms-container form.wpforms-form a.wpforms-submit:hover, .wpforms-container form.wpforms-form .woocommerce a.wpforms-submit:hover, .woocommerce button.button:hover, .woocommerce button.sbi_load_btn:hover, .woocommerce.post-type-archive-product main ul.products li.product button.button:hover, .woocommerce .wpforms-container form.wpforms-form button.wpforms-submit:hover, .wpforms-container form.wpforms-form .woocommerce button.wpforms-submit:hover, .woocommerce input.button:hover, .woocommerce input.sbi_load_btn:hover, .woocommerce.post-type-archive-product main ul.products li.product input.button:hover, .woocommerce .wpforms-container form.wpforms-form input.wpforms-submit:hover, .wpforms-container form.wpforms-form .woocommerce input.wpforms-submit:hover {
  background-color: #3d493e !important;
  color: #eee;
}

.woocommerce table.my_account_orders .button, .woocommerce table.my_account_orders .sbi_load_btn, .woocommerce.post-type-archive-product table.my_account_orders main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product table.my_account_orders .button, .woocommerce table.my_account_orders .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form .woocommerce table.my_account_orders .wpforms-submit {
  margin-right: 15px;
}

.woocommerce.post-type-archive-product .button, .woocommerce.post-type-archive-product .sbi_load_btn, .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form .woocommerce.post-type-archive-product .wpforms-submit {
  font-size: 16px;
}

.desktop-nav {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 50px;
  position: fixed;
  -webkit-transition: all ease-in .25s;
  transition: all ease-in .25s;
  width: 100%;
  z-index: 999;
}

.desktop-nav:hover {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.desktop-nav:hover .nav-links li a {
  color: #eee;
}

.desktop-nav .home-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.desktop-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.desktop-nav .nav-links li {
  display: block;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 230px;
}

.desktop-nav .nav-links li a {
  -webkit-clip-path: polygon(100% 0, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 0);
  color: #444;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  height: 100%;
  letter-spacing: 1px;
  padding: 8px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
  width: 100%;
}

.desktop-nav .nav-links li a:hover {
  background-color: #eee;
  color: #444;
  padding-top: 30px;
}

.desktop-nav .nav-links .sub-menu {
  background-color: #444;
  -webkit-clip-path: polygon(100% 0, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 90%, 95% 100%, 5% 100%, 0 90%, 0 0);
  display: none;
}

.desktop-nav .nav-links #menu-item-45:hover .sub-menu,
.desktop-nav .nav-links #menu-item-196:hover .sub-menu,
.desktop-nav .nav-links #menu-item-229:hover .sub-menu {
  display: block;
}

.desktop-nav.expand-nav, .desktop-nav:hover {
  background-color: #444;
  height: 75px;
}

.desktop-nav.expand-nav .nav-links li a, .desktop-nav:hover .nav-links li a {
  padding: 20px;
}

.desktop-nav.expand-nav .cart-links svg, .desktop-nav:hover .cart-links svg {
  width: 45px;
}

.mobile-nav {
  background-color: #aaa;
  display: none;
  height: 100vh;
  width: 300px;
  right: 0;
  position: fixed;
  top: 0;
}

.mobile-nav .nav-toggle {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
}

.mobile-nav .nav-toggle .svg-burger {
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.mobile-nav .nav-toggle .svg-burger .hidden {
  display: none;
}

.mobile-nav .nav-toggle .svg-close {
  display: none;
  position: absolute;
  top: 0;
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.mobile-nav .nav-toggle .svg-close .show {
  display: block;
  opacity: 1;
}

.mobile-nav .nav-links {
  padding: 50px 20px;
}

.mobile-nav .nav-links li {
  display: block;
  height: 20vh;
  list-style-type: none;
  min-height: 60px;
}

.mobile-nav .nav-links li a {
  color: #fafafa;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
}

.mobile-nav.open-menu .nav-lnks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer {
  background-color: #222;
  padding: 50px;
  text-align: center;
}

@media (max-width: 1200px) {
  footer {
    padding: 75px 20px 40px;
  }
}

footer a {
  color: #1e9b17;
}

footer a:hover {
  color: #11580d;
}

footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-bottom: 2px solid #444;
}

@media (max-width: 1200px) {
  footer .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

footer .left,
footer .middle,
footer .right {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 0 30px 30px;
}

@media (max-width: 1200px) {
  footer .left,
  footer .middle,
  footer .right {
    padding: 0;
  }
}

footer .left p,
footer .middle p,
footer .right p {
  color: #eee;
  line-height: 2;
}

footer .left {
  text-align: left;
  width: 40%;
}

@media (max-width: 1200px) {
  footer .left {
    text-align: center;
    width: 100%;
  }
}

footer .left .title {
  color: #eee;
  font-family: 'Snell', serif;
}

footer .left .contact {
  border-radius: 10px;
  margin-top: 15px;
}

footer .left .contact .mobile-br {
  display: none;
}

@media (max-width: 420px) {
  footer .left .contact .mobile-br {
    display: block;
  }
}

footer .left .contact img {
  display: inline-block;
  margin-right: 5px;
  width: 25px;
}

footer .left h5 {
  color: #eee;
  margin-bottom: 0;
}

footer .middle {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #444;
  border-right: 2px solid #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: 20%;
}

@media (max-width: 1200px) {
  footer .middle {
    border: 2px solid #444;
    margin-top: 45px;
    margin-bottom: 45px;
  }
}

@media (max-width: 1000px) {
  footer .middle {
    width: 35%;
  }
}

@media (max-width: 700px) {
  footer .middle {
    width: 40%;
  }
}

@media (max-width: 600px) {
  footer .middle {
    width: 45%;
  }
}

@media (max-width: 500px) {
  footer .middle {
    width: 50%;
  }
}

@media (max-width: 420px) {
  footer .middle {
    width: 60%;
  }
}

footer .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: space-between;
  list-style-type: none;
}

footer .nav-links a {
  color: #eee;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding: 0 0 10px 0;
}

footer .nav-links a:hover {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

footer .nav-links .sub-menu {
  list-style-type: none;
}

footer .right {
  text-align: right;
  padding-top: 10px;
  width: 40%;
}

@media (max-width: 1200px) {
  footer .right {
    text-align: center;
    width: 100%;
  }
}

footer .right .social {
  margin-bottom: 20px;
}

footer .right .social a:hover {
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

footer .right .social svg {
  display: inline;
  height: 50px;
  fill: #eee;
  margin-left: 20px;
}

@media (max-width: 1250px) {
  footer .right .social svg {
    height: 40px;
  }
}

@media (max-width: 1200px) {
  footer .right .social svg {
    margin: 0 15px;
  }
}

footer .copyright {
  color: #eee;
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 55px;
  text-align: center;
  word-spacing: 1px;
}

body.home h2 {
  font-size: 60px;
}

body.home .hero-section {
  background-image: url("../images/watercolor/watercolor2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 600px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 905px) {
  body.home .hero-section {
    display: block;
  }
}

body.home .hero-section .left {
  width: 50%;
}

@media (max-width: 905px) {
  body.home .hero-section .left {
    width: 100%;
  }
}

body.home .hero-section .right {
  padding: 30px 50px;
  text-align: center;
  width: 50%;
}

@media (max-width: 1150px) {
  body.home .hero-section .right {
    padding: 25px;
  }
}

@media (max-width: 905px) {
  body.home .hero-section .right {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 450px) {
  body.home .hero-section .right {
    padding: 15px;
  }
}

body.home .hero-section .right .hero-elements {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 905px) {
  body.home .hero-section .right .hero-elements {
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
  }
}

@media (max-width: 905px) and (max-width: 500px) {
  body.home .hero-section .right .hero-elements {
    top: 25px;
  }
}

body.home .hero-section .right .home-title,
body.home .hero-section .right .tagline,
body.home .hero-section .right .tagline2,
body.home .hero-section .right .cta,
body.home .hero-section .right .social {
  opacity: 0;
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
  -webkit-transform: translateY(25px);
          transform: translateY(25px);
}

body.home .hero-section .right .home-title.showing,
body.home .hero-section .right .tagline.showing,
body.home .hero-section .right .tagline2.showing,
body.home .hero-section .right .cta.showing,
body.home .hero-section .right .social.showing {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

body.home .hero-section .right .home-title {
  font-size: 120px;
  margin-top: 0;
}

@media (max-width: 1500px) {
  body.home .hero-section .right .home-title {
    font-size: 100px;
  }
}

@media (max-width: 1300px) {
  body.home .hero-section .right .home-title {
    font-size: 80px;
  }
}

@media (max-width: 1000px) {
  body.home .hero-section .right .home-title {
    font-size: 65px;
  }
}

@media (max-width: 905px) {
  body.home .hero-section .right .home-title {
    color: #eee;
    font-size: 90px;
  }
}

@media (max-width: 580px) {
  body.home .hero-section .right .home-title {
    font-size: 70px;
  }
}

@media (max-width: 440px) {
  body.home .hero-section .right .home-title {
    font-size: 60px;
  }
}

@media (max-width: 400px) {
  body.home .hero-section .right .home-title {
    font-size: 50px;
  }
}

@media (max-width: 320px) {
  body.home .hero-section .right .home-title {
    font-size: 40px;
  }
}

body.home .hero-section .right .tagline,
body.home .hero-section .right .tagline2 {
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 2;
}

@media (max-width: 1075px) {
  body.home .hero-section .right .tagline,
  body.home .hero-section .right .tagline2 {
    font-size: 17px;
  }
}

@media (max-width: 905px) {
  body.home .hero-section .right .tagline,
  body.home .hero-section .right .tagline2 {
    color: #eee;
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  body.home .hero-section .right .tagline,
  body.home .hero-section .right .tagline2 {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  body.home .hero-section .right .tagline,
  body.home .hero-section .right .tagline2 {
    line-height: 1.5;
  }
}

body.home .hero-section .right .tagline {
  word-spacing: 2px;
}

@media (max-width: 500px) {
  body.home .hero-section .right .tagline {
    word-spacing: 1px;
  }
}

@media (max-width: 440px) {
  body.home .hero-section .right .tagline {
    display: none;
  }
}

body.home .hero-section .right .tagline .star {
  display: inline-block;
  padding: 0 10px;
}

@media (max-width: 1000px) {
  body.home .hero-section .right .tagline .star {
    padding: 0 5px;
  }
}

@media (max-width: 905px) {
  body.home .hero-section .right .tagline .star {
    color: #eee;
  }
}

body.home .hero-section .right .tagline2 {
  font-style: italic;
}

@media (max-width: 1300px) {
  body.home .hero-section .right .tagline2 {
    margin-bottom: 0;
  }
}

@media (max-width: 1150px) {
  body.home .hero-section .right .tagline2 {
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  body.home .hero-section .right .tagline2 {
    display: none;
  }
}

body.home .hero-section .right .cta {
  margin: 0;
  padding: 0;
}

body.home .hero-section .right .button, body.home .hero-section .right .sbi_load_btn, body.home .hero-section .right .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .hero-section .right .button, body.home .hero-section .right .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .hero-section .right .wpforms-submit {
  margin-top: 25px;
}

@media (max-width: 1200px) {
  body.home .hero-section .right .button, body.home .hero-section .right .sbi_load_btn, body.home .hero-section .right .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .hero-section .right .button, body.home .hero-section .right .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .hero-section .right .wpforms-submit {
    margin-top: 50px;
  }
}

@media (max-width: 905px) {
  body.home .hero-section .right .button, body.home .hero-section .right .sbi_load_btn, body.home .hero-section .right .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .hero-section .right .button, body.home .hero-section .right .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .hero-section .right .wpforms-submit {
    border-color: #eee;
    color: #eee;
  }
}

@media (max-width: 600px) {
  body.home .hero-section .right .button, body.home .hero-section .right .sbi_load_btn, body.home .hero-section .right .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .hero-section .right .button, body.home .hero-section .right .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .hero-section .right .wpforms-submit {
    margin-top: 30px;
  }
}

@media (max-width: 450px) {
  body.home .hero-section .right .button, body.home .hero-section .right .sbi_load_btn, body.home .hero-section .right .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .hero-section .right .button, body.home .hero-section .right .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .hero-section .right .wpforms-submit {
    margin-top: 80px;
  }
}

@media (max-width: 350px) {
  body.home .hero-section .right .button, body.home .hero-section .right .sbi_load_btn, body.home .hero-section .right .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .hero-section .right .button, body.home .hero-section .right .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .hero-section .right .wpforms-submit {
    margin-top: 50px;
  }
}

@media (max-width: 325px) {
  body.home .hero-section .right .button, body.home .hero-section .right .sbi_load_btn, body.home .hero-section .right .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .hero-section .right .button, body.home .hero-section .right .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .hero-section .right .wpforms-submit {
    margin-top: 30px;
  }
}

body.home .hero-section .right .social {
  margin-top: 35px;
}

@media (max-width: 1400px) {
  body.home .hero-section .right .social {
    margin-top: 45px;
  }
}

body.home .hero-section .right .social a {
  -webkit-transition: all .25s;
  transition: all .25s;
}

body.home .hero-section .right .social a svg {
  fill: #444;
  display: inline;
  height: 35px;
  margin: 0 15px;
  -webkit-transition: all .25s;
  transition: all .25s;
}

@media (max-width: 905px) {
  body.home .hero-section .right .social a svg {
    fill: #eee;
  }
}

body.home .hero-section .right .social a:hover svg {
  opacity: .8;
}

body.home .preview-section {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -16px;
  margin-left: auto;
  margin-right: auto;
  height: 250px !important;
  position: relative;
}

@media (max-width: 500px) {
  body.home .preview-section {
    height: 200px !important;
  }
}

body.home .preview-section #display {
  color: #eee;
  display: inline-block;
  font-family: 'Snell', cursive;
  font-size: 20rem;
  font-weight: 400;
  line-height: 0.8;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px #ccc;
  white-space: nowrap;
  width: 100%;
  z-index: 800;
}

@media (max-width: 1650px) {
  body.home .preview-section #display {
    font-size: 17rem;
    margin-left: -3%;
  }
}

@media (max-width: 1250px) {
  body.home .preview-section #display {
    font-size: 14rem;
    margin-left: -2%;
  }
}

@media (max-width: 1125px) {
  body.home .preview-section #display {
    font-size: 11rem;
    margin-left: -1%;
    margin-top: 40px;
  }
}

@media (max-width: 825px) {
  body.home .preview-section #display {
    font-size: 9rem;
    margin-top: 50px;
  }
}

@media (max-width: 675px) {
  body.home .preview-section #display {
    font-size: 8rem;
    margin-top: 55px;
  }
}

@media (max-width: 625px) {
  body.home .preview-section #display {
    font-size: 7rem;
  }
}

@media (max-width: 540px) {
  body.home .preview-section #display {
    font-size: 6rem;
    margin-top: 75px;
  }
}

@media (max-width: 540px) {
  body.home .preview-section #display {
    font-size: 5rem;
  }
}

@media (max-width: 380px) {
  body.home .preview-section #display {
    font-size: 4.5rem;
  }
}

@media (max-width: 350px) {
  body.home .preview-section #display {
    font-size: 4rem;
  }
}

@media (max-width: 315px) {
  body.home .preview-section #display {
    font-size: 3.75rem;
  }
}

body.home .preview-section .preview-list {
  height: 250px;
  overflow: hidden;
  padding-left: 0;
  width: 100%;
}

@media (max-width: 500px) {
  body.home .preview-section .preview-list {
    height: 200px;
  }
}

body.home .preview-section .preview-list * {
  border: none !important;
}

body.home .preview-section .preview-list img {
  margin: 0 auto;
}

body.home .clothing-section {
  background: #444444;
  background: linear-gradient(45deg, #444444 0%, #222222 100%);
  color: #eee;
  height: 792px !important;
  padding: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 1330px) {
  body.home .clothing-section {
    height: 765px !important;
  }
}

@media (max-width: 1100px) {
  body.home .clothing-section {
    height: 635px !important;
  }
}

@media (max-width: 905px) {
  body.home .clothing-section {
    height: auto !important;
  }
}

body.home .clothing-section .clothing-title-mobile {
  color: #eee;
  display: none;
  font-family: 'Cormorant', serif;
  padding-top: 40px;
  text-align: center;
}

@media (max-width: 905px) {
  body.home .clothing-section .clothing-title-mobile {
    display: block;
  }
}

body.home .clothing-section .container {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

@media (max-width: 905px) {
  body.home .clothing-section .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

body.home .clothing-section .left {
  padding: 60px 75px 0 0;
  opacity: 0;
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  width: 70%;
}

body.home .clothing-section .left.showing {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 1400px) {
  body.home .clothing-section .left {
    padding-right: 0;
  }
}

@media (max-width: 1350px) {
  body.home .clothing-section .left {
    width: 80%;
  }
}

@media (max-width: 1100px) {
  body.home .clothing-section .left {
    padding-top: 30px;
  }
}

@media (max-width: 1000px) {
  body.home .clothing-section .left {
    padding-right: 0;
  }
}

@media (max-width: 905px) {
  body.home .clothing-section .left {
    width: 100%;
  }
}

body.home .clothing-section .left .clothing-title {
  color: #eee;
  font-family: 'Cormorant', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width: 905px) {
  body.home .clothing-section .left .clothing-title {
    display: none;
  }
}

body.home .clothing-section .left .clothing-copy-box {
  border: 2px solid #eee;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
          clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
  padding: 0;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

body.home .clothing-section .left .clothing-copy-box.showing {
  padding: 25px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 500px) {
  body.home .clothing-section .left .clothing-copy-box.showing {
    padding: 15px;
  }
}

body.home .clothing-section .left .clothing-copy {
  background-blend-mode: soft-light;
  background-color: #ddd;
  background-image: url("../images/watercolor/blue.jpg");
  background-size: cover;
  background-position: bottom;
  -webkit-box-shadow: inset 0 0 75px #444;
          box-shadow: inset 0 0 75px #444;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
          clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
  color: #444;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

@media (max-width: 1200px) {
  body.home .clothing-section .left .clothing-copy {
    padding: 40px;
  }
}

@media (max-width: 1100px) {
  body.home .clothing-section .left .clothing-copy {
    -webkit-box-shadow: inset 0 0 20px #444;
            box-shadow: inset 0 0 20px #444;
    padding: 30px;
  }
}

body.home .clothing-section .left .clothing-copy .clothing-subheader {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding-bottom: 20px;
}

body.home .clothing-section .left .clothing-copy p {
  font-size: 20px;
  line-height: 1.7;
  max-width: 620px;
  margin: 0 auto;
  text-align: left;
}

@media (max-width: 1550px) {
  body.home .clothing-section .left .clothing-copy p {
    max-width: 580px;
  }
}

@media (max-width: 1400px) {
  body.home .clothing-section .left .clothing-copy p {
    font-size: 19px;
  }
}

@media (max-width: 1330px) {
  body.home .clothing-section .left .clothing-copy p {
    font-size: 18px;
  }
}

@media (max-width: 1250px) {
  body.home .clothing-section .left .clothing-copy p {
    font-size: 17px;
    max-width: 500px;
  }
}

@media (max-width: 1160px) {
  body.home .clothing-section .left .clothing-copy p {
    font-size: 16px;
    max-width: 460px;
  }
}

@media (max-width: 950px) {
  body.home .clothing-section .left .clothing-copy p {
    max-width: 420px;
  }
}

@media (max-width: 905px) {
  body.home .clothing-section .left .clothing-copy p {
    font-size: 18px;
  }
}

@media (max-width: 615px) {
  body.home .clothing-section .left .clothing-copy p {
    font-size: 16px;
    max-width: 380px;
  }
}

@media (max-width: 570px) {
  body.home .clothing-section .left .clothing-copy p {
    max-width: 300px;
  }
}

@media (max-width: 450px) {
  body.home .clothing-section .left .clothing-copy p {
    max-width: 250px;
  }
}

@media (max-width: 400px) {
  body.home .clothing-section .left .clothing-copy p {
    max-width: 200px;
  }
}

@media (max-width: 350px) {
  body.home .clothing-section .left .clothing-copy p {
    max-width: 175px;
  }
}

body.home .clothing-section .left .clothing-copy .tagline {
  font-style: italic;
  margin-top: 30px;
  text-align: center;
}

body.home .clothing-section .left .clothing-copy .button, body.home .clothing-section .left .clothing-copy .sbi_load_btn, body.home .clothing-section .left .clothing-copy .woocommerce.post-type-archive-product main ul.products li.product .button, .woocommerce.post-type-archive-product main ul.products li.product body.home .clothing-section .left .clothing-copy .button, body.home .clothing-section .left .clothing-copy .wpforms-container form.wpforms-form .wpforms-submit, .wpforms-container form.wpforms-form body.home .clothing-section .left .clothing-copy .wpforms-submit {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

body.home .clothing-section .right {
  opacity: 0;
  position: relative;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
  width: 400px;
}

body.home .clothing-section .right.showing {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 1100px) {
  body.home .clothing-section .right {
    width: 350px;
  }
}

@media (max-width: 1050px) {
  body.home .clothing-section .right {
    width: 300px;
  }
}

@media (max-width: 985px) {
  body.home .clothing-section .right {
    width: 250px;
  }
}

@media (max-width: 905px) {
  body.home .clothing-section .right {
    width: 100%;
  }
}

body.home .clothing-section .right img {
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

body.home .clothing-section .right .slider {
  -webkit-transform: scale(1.35) translateY(-28px);
          transform: scale(1.35) translateY(-28px);
}

@media (max-width: 1330px) {
  body.home .clothing-section .right .slider {
    -webkit-transform: scale(1.17) translateY(-10px);
            transform: scale(1.17) translateY(-10px);
  }
}

@media (max-width: 1100px) {
  body.home .clothing-section .right .slider {
    -webkit-transform: scale(1.1) translateY(-60px);
            transform: scale(1.1) translateY(-60px);
  }
}

@media (max-width: 1050px) {
  body.home .clothing-section .right .slider {
    -webkit-transform: scale(1.17) translateY(-27px);
            transform: scale(1.17) translateY(-27px);
  }
}

@media (max-width: 985px) {
  body.home .clothing-section .right .slider {
    -webkit-transform: scale(1.3) translate(-30px, -16px);
            transform: scale(1.3) translate(-30px, -16px);
  }
}

@media (max-width: 905px) {
  body.home .clothing-section .right .slider {
    margin-top: 25px;
    -webkit-transform: scale(1) translateY(5px);
            transform: scale(1) translateY(5px);
  }
}

body.home .clothing-section .right p {
  line-height: 1;
}

body.home .about-section {
  background-color: #eee;
  background-image: url("../images/watercolor/light-green-yellow-watercolor.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px !important;
  padding: 70px 0;
}

@media (max-width: 1500px) {
  body.home .about-section {
    height: 700px !important;
  }
}

@media (max-width: 1075px) {
  body.home .about-section {
    padding-top: 40px;
  }
}

@media (max-width: 900px) {
  body.home .about-section {
    height: auto !important;
  }
}

body.home .about-section .mobile-title {
  display: none;
  font-family: 'Cormorant', serif;
  font-size: 4rem;
  text-align: center;
}

@media (max-width: 700px) {
  body.home .about-section .mobile-title {
    display: block;
  }
}

body.home .about-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1200px) {
  body.home .about-section .container {
    width: 95%;
  }
}

@media (max-width: 1000px) {
  body.home .about-section .container {
    width: 100%;
  }
}

@media (max-width: 800px) {
  body.home .about-section .container {
    max-width: none;
  }
}

@media (max-width: 700px) {
  body.home .about-section .container {
    margin-top: 30px;
  }
}

@media (max-width: 630px) {
  body.home .about-section .container {
    display: block;
  }
}

body.home .about-section .left {
  width: 40%;
}

@media (max-width: 630px) {
  body.home .about-section .left {
    width: 100%;
  }
}

body.home .about-section .left .shaune {
  border-right: 15px solid #444;
  background-color: #444;
  margin: 0 auto;
  opacity: 0;
  -webkit-transition: all .75s ease-out;
  transition: all .75s ease-out;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  width: 350px;
}

body.home .about-section .left .shaune.showing {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 630px) {
  body.home .about-section .left .shaune.showing {
    -webkit-transform: translateX(-25px);
            transform: translateX(-25px);
  }
}

@media (max-width: 1200px) {
  body.home .about-section .left .shaune {
    width: 270px;
  }
}

@media (max-width: 1075px) {
  body.home .about-section .left .shaune {
    width: 230px;
  }
}

@media (max-width: 768px) {
  body.home .about-section .left .shaune {
    width: 175px;
  }
}

body.home .about-section .left img {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 100%, 0 100%);
  border-right: 2px solid #444;
  border-bottom: 2px solid #444;
  max-width: none;
  overflow: visible;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 350px;
}

body.home .about-section .left img.showing {
  padding-right: 25px;
  padding-bottom: 25px;
  -webkit-transform: translate(75px, 75px);
          transform: translate(75px, 75px);
}

@media (max-width: 1350px) {
  body.home .about-section .left img.showing {
    padding-right: 20px;
    padding-bottom: 20px;
    -webkit-transform: translate(50px, 50px);
            transform: translate(50px, 50px);
  }
}

@media (max-width: 1075px) {
  body.home .about-section .left img.showing {
    padding-right: 15px;
    padding-bottom: 15px;
    -webkit-transform: translate(30px, 30px);
            transform: translate(30px, 30px);
  }
}

@media (max-width: 650px) {
  body.home .about-section .left img.showing {
    -webkit-transform: translate(25px, 25px);
            transform: translate(25px, 25px);
  }
}

@media (max-width: 1200px) {
  body.home .about-section .left img {
    width: 300px;
  }
}

@media (max-width: 1075px) {
  body.home .about-section .left img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  body.home .about-section .left img {
    width: 200px;
  }
}

body.home .about-section .right {
  padding: 0 40px 0 80px;
  opacity: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  width: 60%;
}

body.home .about-section .right.showing {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

@media (max-width: 768px) {
  body.home .about-section .right {
    padding: 0 25px 0 50px;
  }
}

@media (max-width: 630px) {
  body.home .about-section .right {
    margin-top: 75px;
    padding: 0 40px;
    width: 100%;
  }
}

@media (max-width: 500px) {
  body.home .about-section .right {
    padding: 0 20px;
  }
}

body.home .about-section .right .title {
  font-family: "Cormorant", sans-serif;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: center;
}

@media (max-width: 700px) {
  body.home .about-section .right .title {
    display: none;
  }
}

body.home .about-section .right .about-copy-box {
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
          clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
  margin: 0 auto;
  max-width: 730px;
  padding: 0;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

body.home .about-section .right .about-copy-box.showing {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body.home .about-section .right .about-copy {
  background-color: #444;
  -webkit-clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
          clip-path: polygon(10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%, 0 10%);
  color: #eee;
  padding: 45px;
  line-height: 2;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1515px) {
  body.home .about-section .right .about-copy {
    line-height: 1.75;
  }
}

@media (max-width: 780px) {
  body.home .about-section .right .about-copy {
    padding: 35px;
  }
}

@media (max-width: 650px) {
  body.home .about-section .right .about-copy {
    padding: 30px;
  }
}

@media (max-width: 500px) {
  body.home .about-section .right .about-copy {
    padding: 30px 20px;
  }
}

body.home .about-section .right .about-copy p {
  color: #eee;
  font-size: 18px;
  margin: 0 auto;
  max-width: 620px;
  text-align: left;
}

@media (max-width: 1100px) {
  body.home .about-section .right .about-copy p {
    font-size: 17px;
  }
}

@media (max-width: 820px) {
  body.home .about-section .right .about-copy p {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  body.home .about-section .right .about-copy p {
    font-size: 15px;
  }
}

body.home .about-section .right .about-copy .tagline {
  margin-top: 25px;
  text-align: left;
}

body.home .about-section .right .about-copy .signature {
  font-family: 'Carattere', cursive;
  font-size: 2rem;
  margin-top: 20px;
  text-align: right;
}

@media (max-width: 500px) {
  body.home .about-section .right .about-copy .signature {
    font-size: 1.75rem;
  }
}

body.home section.instagram {
  background-blend-mode: soft-light;
  background-color: #ddd;
  background-image: url("../images/watercolor/blue.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}

body.home section.instagram h2,
body.home section.instagram .sb_instagram_header {
  padding-left: 50px;
}

body.home section.instagram #sb_instagram .sbi_follow_btn {
  display: none !important;
}

.woocommerce-breadcrumb {
  display: none;
}

.content-area ul.products,
.content-area li.product {
  background-color: #fff !important;
}

.woocommerce.post-type-archive-product main {
  padding: 50px;
}

@media (max-width: 500px) {
  .woocommerce.post-type-archive-product main {
    padding: 30px;
  }
}

@media (max-width: 400px) {
  .woocommerce.post-type-archive-product main {
    padding: 15px;
  }
}

.woocommerce.post-type-archive-product main .page-title,
.woocommerce.post-type-archive-product main .product {
  text-align: center;
}

.woocommerce.post-type-archive-product main .woocommerce-result-count {
  width: 50%;
  text-align: right;
  padding-right: 15px;
}

.woocommerce.post-type-archive-product main .woocommerce-ordering {
  width: 50%;
  padding-left: 15px;
}

.woocommerce.post-type-archive-product main .woocommerce-notices-wrapper {
  display: none;
}

.woocommerce.post-type-archive-product main .woo-commerce-result-count,
.woocommerce.post-type-archive-product main .woocommerce-ordering,
.woocommerce.post-type-archive-product main select {
  font-family: 'Montserrat', sans-serif;
}

.woocommerce.post-type-archive-product main ul.products,
.woocommerce.post-type-archive-product main .woocommerce-notices-wrapper {
  background-color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.woocommerce.post-type-archive-product main ul.products {
  padding: 0;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
}

.woocommerce.post-type-archive-product main ul.products li.product {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  padding: 30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.woocommerce.post-type-archive-product main ul.products li.product:hover {
  -webkit-box-shadow: 2px 2px 15px;
          box-shadow: 2px 2px 15px;
}

.woocommerce.post-type-archive-product main ul.products li.product a {
  background-color: rgba(255, 255, 255, 0.28);
  padding: 30px;
}

.woocommerce.post-type-archive-product main ul.products li.product .woocommerce-loop-product__title {
  font-family: 'Cormorant', serif !important;
  font-size: 28px;
  text-align: center;
}

@media (max-width: 700px) {
  .woocommerce.post-type-archive-product main ul.products li.product .woocommerce-loop-product__title {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .woocommerce.post-type-archive-product main ul.products li.product .woocommerce-loop-product__title {
    font-size: 30px;
  }
}

@media (max-width: 440px) {
  .woocommerce.post-type-archive-product main ul.products li.product .woocommerce-loop-product__title {
    padding: 15px;
  }
}

.woocommerce.post-type-archive-product main ul.products li.product .amount {
  font-size: 22px;
  line-height: 1.2;
}

@media (max-width: 1200px) {
  .woocommerce.post-type-archive-product main ul.products li.product .amount {
    font-size: 90px;
  }
}

@media (max-width: 700px) {
  .woocommerce.post-type-archive-product main ul.products li.product .amount {
    font-size: 75px;
  }
}

@media (max-width: 600px) {
  .woocommerce.post-type-archive-product main ul.products li.product .amount {
    font-size: 65px;
  }
}

@media (max-width: 550px) {
  .woocommerce.post-type-archive-product main ul.products li.product .amount {
    font-size: 50px;
  }
}

#sidebar,
.product_meta {
  display: none;
}

.single-product .product {
  max-width: 1200px;
  margin: 70px auto 0;
}

.single-product .product ol.flex-control-thumbs {
  margin-top: 20px !important;
}

.single-product .product ol.flex-control-thumbs li {
  margin-right: 10px !important;
}

.single-product .product .products h2.woocommerce-loop-product__title {
  font-size: 1.5em !important;
  text-align: center;
}

.single-product .product .products .price {
  font-size: 1em !important;
  text-align: center;
}

.single-product .product .products .product {
  text-align: center;
}

.woocommerce-account .woocommerce-form-login {
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 500px;
  margin: 0 auto 50px !important;
}

.woocommerce-account .woocommerce-form-login .lost_password a {
  color: #1e9b17;
}

.woocommerce-account .woocommerce-form-login .lost_password a:hover {
  color: #11580d;
}

.woocommerce-account .woocommerce-form-login .woocommerce-Input {
  border: 1px solid #177512;
  border-radius: 5px;
}

.woocommerce-account .woocommerce-form-login .form-row {
  margin-top: 20px;
}

.woocommerce-account .woocommerce-form-login .woocommerce-form-login__submit {
  background-color: transparent;
  border: 1px solid #222 !important;
}

.woocommerce-account .woocommerce-form-login .woocommerce-form-login__submit:hover {
  background-color: #333;
  color: #eee;
}

.woocommerce-account h2 {
  text-align: center;
}

.woocommerce-account .myaccount-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto;
  padding: 30px 50px;
}

.woocommerce-account .myaccount-dashboard ul.dash-links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li {
  border-radius: 10px;
  margin: 0 15px;
  text-align: center;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li a {
  display: block;
  height: 100%;
  padding: 20px;
  width: 100%;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li a img {
  margin: 0 auto 15px;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.orders {
  border: 1px solid #1a84c2;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.orders a:hover {
  background-color: rgba(26, 132, 194, 0.2);
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.orders img {
  width: 100px;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.account-details {
  border: 1px solid #177512;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.account-details a:hover {
  background-color: rgba(23, 117, 18, 0.2);
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.account-details img {
  width: 120px;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.logout {
  border: 1px solid #c92c53;
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.logout a:hover {
  background-color: rgba(201, 44, 83, 0.2);
}

.woocommerce-account .myaccount-dashboard ul.dash-links li.logout img {
  width: 100px;
}

.woocommerce-account .woocommerce-MyAccount-content {
  float: none !important;
  width: 100% !important;
}

.woocommerce-account .woocommerce-MyAccount-content h3 {
  text-align: center;
}

.woocommerce-account .woocommerce-MyAccount-content form {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.woocommerce-account .woocommerce-MyAccount-content form button[type=submit] {
  margin-top: 20px;
  margin-bottom: 30px;
}

.woocommerce-MyAccount-navigation ul {
  display: none;
  list-style-type: none;
}

.woocommerce-addresses {
  margin-bottom: 50px;
}

.woocommerce-addresses .woocommerce-Address address {
  text-align: center !important;
}

@media (max-width: 768px) {
  .woocommerce .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-1, .woocommerce-page .col2-set .col-2 {
    margin-top: 32px;
  }
}

.woocommerce-edit-address p,
.woocommerce-edit-account p {
  text-align: center;
}

.woocommerce-edit-address form,
.woocommerce-edit-account form {
  margin-top: 30px;
}

.woocommerce table.shop_table {
  background-color: rgba(255, 255, 255, 0.6);
}

.woocommerce-Address-title {
  padding: 15px;
  position: relative;
}

.woocommerce-Address-title h3 {
  float: none !important;
  text-align: center;
}

.woocommerce-Address-title a.edit {
  position: absolute;
  top: 15px;
  right: 15px;
}

.woocommerce-info {
  border-top-color: #0eff00;
  background-color: #444;
  color: white;
}

.wpforms-container form.wpforms-form input {
  border: 1px solid #177512 !important;
  border-radius: 5px !important;
  padding: 5px 8px;
}

.wpforms-container form.wpforms-form .wpforms-field-label,
.wpforms-container form.wpforms-form .wpforms-field-sublabel,
.wpforms-container form.wpforms-form legend {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  font-weight: 700 !important;
}

.wpforms-container form.wpforms-form .wpforms-submit {
  background-color: transparent !important;
  border: 1px solid #222 !important;
  font-weight: bold;
}

.wpforms-container form.wpforms-form .wpforms-submit:hover {
  background-color: #222 !important;
  color: #eee;
}

.wpforms-container .wpforms-submit-container {
  margin-top: 30px !important;
  text-align: center;
}

.woocommerce form .form-row input.input-text,
.woocommerce form .form-row textarea {
  border: 1px solid #177512 !important;
  border-radius: 5px !important;
  padding: 5px 8px;
}

.woocommerce form .form-row {
  text-align: left;
}

.woocommerce form .form-row label {
  font-weight: 700;
}

.woocommerce fieldset {
  border: none;
  margin-top: 25px;
  padding: 0;
}

.woocommerce fieldset legend {
  display: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
}

.page-id-249 .wholesale-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.page-id-249 .wholesale p {
  text-align: center;
}

.page-id-249 .wholesale .wpforms-container a {
  color: #1e9b17;
  font-weight: bold;
}

.page-id-249 .wholesale .wpforms-container a:hover {
  color: #11580d;
}

.page-id-249 .login {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0 auto 50px !important;
  width: 40%;
}

.page-id-249 .login .lost_password a {
  color: #1e9b17;
}

.page-id-249 .login .lost_password a:hover {
  color: #11580d;
}

.page-id-249 .login .woocommerce-Input {
  border: 1px solid #177512;
  border-radius: 5px;
}

.page-id-249 .login .form-row {
  margin-top: 20px;
}

.page-id-249 .login .woocommerce-form-login__submit {
  background-color: transparent;
  border: 1px solid #222 !important;
}

.page-id-249 .login .woocommerce-form-login__submit:hover {
  background-color: #333;
  color: #eee;
}
/*# sourceMappingURL=main.css.map */